// footer start
footer.footer
      .container-fluid
        .row
          .col-md-6.footer-copyright.text-start
            p.mb-0 Copyright 2019 &copy; Multikart All rights reserved.
          .col-md-6.pull-right.text-end
            p.mb-0
              | Hand crafted &amp; made with
              i.fa.fa-heart
// footer end